@media only screen and (max-width: 414px) {

    #logo {
        width: 2.5rem !important;
        height: 100%;
    }

    #home-hero {
        position: unset;
        height: auto !important;
    }

    .home-intro {
        display: block;
        position: unset;
        transform: translateY(0);
        margin-top: 10rem;
        margin-bottom: 8rem;
    }

    .home-divider {
        display: none;
    }

    .home-selectedprojects {
        position: unset;
    }

    .grid-item {
        margin-bottom: 0%;
    }

    footer {
        margin-top: 32% !important;
    }

    .footer-bottom p {
        margin-top: 6rem !important;
    }

    .cta-section {
        margin: 14% 0 0 0 !important;
    }

    .footer-bottom {
        margin-top: 14% !important
    }

    .backTop {
        margin-top: 4.5rem;
        height: 1.5rem;
        left: 0;
        top: 0;
        right: auto !important;
        bottom: auto !important;
    }

    .backTop p {
        margin-top: 0 !important;
    }

    .backTop-icon {
        top: -0.125rem !important;
    }

    #project-hero {
        position: unset;
        height: auto !important;
    }

    .project-title {
        position: unset;
        margin-top: 10rem;
        margin-bottom: 6rem;
    }

    .wip {
        top: 10rem !important;
    }

    .project-info {
        position: unset;
        justify-content: space-between;
        display: block;
    }

    .website-link {
        position: initial;
        display: block;
    }

    .responsive-list {
        margin-bottom: 1rem;
    }

    .info-intro {
        height: auto !important;
        margin-top: 10rem;
    }

    .info-main {
        position: unset;

    }

}

@media only screen and (max-width: 600px) {

    h1 {
        font-size: 1.75rem !important;
    }

    h2 {
        font-size: 1.5rem !important;
    }

    .grid-item {
        width: 100%;
    }

    .grid-item:nth-child(2n) {
        margin-left: 0;
    }

    .grid-item:nth-last-of-type(-n+2) {
        margin-bottom: 10%;
    }

    .grid-item:last-of-type {
        margin-bottom: 0;
    }

    .info-main {
        width: 92% !important;
    }

    .info-section {
        display: block;
    }

    .info-subheading {
        width: 100% !important;
    }

    .info-text {
        width: 100% !important;
    }

    .project-info ul {
        display: none;
    }

    .project-info ul li {
        margin-bottom: 0;
    }

    .responsive-list {
        display: block !important;
    }

    .project-entry {
        width: 100% !important;
    }

    .project-entry--divider {
        width: 100% !important;
    }

    .project-title--badge {
        display: unset;
    }

    .wip {
        margin-left: 0;
        position: absolute;
        top: -2.5rem;
    }

    .video-style {
        background-color: unset;
    }

    .video-style video {
        width: 100% !important;
        margin: 0 !important;
    }

    #album-animation {
        width: 100% !important;
        margin: 0 !important;
    }

}

@media only screen and (max-width: 736px) {
    .info-intro {
        margin-bottom: 20%;
    }

    .info-main {
        width: 68.5%;
    }

    .info-section {
        margin-bottom: 20%;
    }

    .info-section ul {
        width: 29.875%;
    }

    .info-subheading {
        width: 36.25%;
        margin-left: 0;
    }

    .info-text {
        width: 61.75%;
    }

    .project-navigation {
        margin-top: 28%;
        display: block;
    }

    .nextproject-section {
        width: 100%;
    }

    .nextproject-section a:hover .right-arrow {
        margin-left: 1rem;
      }

    .allprojects-section {
        width: 100%;
        margin-bottom: 8%;
    }

    footer {
        margin-top: 28%;
    }

    .footer-logo {
        float: none;
        top: 0;
    }

    .cta-section {
        margin: 8% 0 0 0;
        width: 100%;
    }

    .footer-bottom {
        position: relative;
    }

    .footer-bottom p {
        margin-top: 10%;
    }

    #footer-links {
        width: auto;
    }

    #footer-links ul {
        position: absolute;
        left: 0;
    }

    .backTop {
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .backTop-icon {
        height: auto !important;
        position: relative;
        top: 0.25rem;
    }
}

@media only screen and (max-width: 812px) {

    #nav-rightsection {
        display: none;
    }

    .project-info ul:first-of-type {
        width: 16% !important;
    }

    .project-title {
        width: 100%;
    }

    .two-images img {
        width: 100%;
    }

    .two-images picture:first-of-type img {
        margin-right: 0;
        float: none;
        margin-bottom: 4%;
    }

    .eight-images--row1 {
        display: block;
        margin-bottom: 0;
    }

    .eight-images--row1 picture img {
        margin-bottom: 4%;
    }

    .eight-images--row2{
        display: block;
        margin-bottom: 0;
    }

    .eight-images--row2 picture img {
        margin-bottom: 4%;
    }

    .eight-images--row2 picture:last-of-type img {
        margin-bottom: 0;
    }

}

@media only screen and (min-width: 813px) {

    .menu-icon {
        display: none;
    }

}

@media only screen and (max-width: 1112px) {

    .project-info ul:first-of-type {
        width: 14%;
    }

    .nextproject-section--text {
        display: none;
    }

}

@media only screen and (max-width: 1200px) {

    .project-entry {
        width: 74.5%;
    }

    .project-entry--divider {
        width: 74.5%;
    }

}

@media only screen and (max-width: 1366px) {

    h1 {
        font-size: 2.25rem;
    }

    h2 {
        font-size: 1.625rem;
    }

    body {
        font-size: 1.125rem !important;
    }

    #logo {
        width: 2.75rem;
    }

    #nav-rightsection__social img {
        width: 1.375rem;
    }

    .sel-projects {
        margin-right: 1rem;
    }

    .home-selectedprojects img {
        width: 0.875rem;
    }

    .project-info {
        font-size: 0.875rem;
    }

    .project-entry {
        line-height: 1.875rem;
    }

    .right-arrow {
        width: 1.75rem;
        top: 0.0625rem;
    }

    .allprojects-section img {
        width: 1.75rem;
        top: 0.0625rem;
    }

    .footer-bottom {
        font-size: 0.875rem;
    }

    .backTop-icon {
        width: 0.625rem;
        height: 1.25rem;
    }

    #footer-links ul li a img {
        width: 1.375rem;
    }

    .wip {
        font-size: 0.875rem;
    }

    .text-icon-link .diag-arrow-1 {
        width: 1.375rem;
        top: -0.0625rem;
    }

    .text-link .diag-arrow-1 {
        width: 1.1875rem;
        top: -0.125rem;
    }

}
